<!DOCTYPE html>
<html>
  <head>
    <title>A11ybrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application.js' %>
    <link rel="stylesheet" href="https://cdn.skypack.dev/trix/dist/trix.css">
    <link rel="stylesheet" type="text/css" href="trix.css">
    <script type="text/javascript" src="trix.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
